<div id="<%= dom_id movie %>">
  <tr>
    <td class="<%= direction_style('title')%>"> <%= link_to movie.title, movie %><%=  %></td>
    <td class="<%= direction_style('rating')%>"> <%= movie.rating %></td>
    <td> <%= movie.description %></td>
    <td class="<%= direction_style('release_date')%>"> <%= movie.release_date %></td>
  </tr>
</div>
